* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/********Pages topography and Background********/
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

/********** To center page content ********/
.container {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

/****************Colour Variables**********/
:root {
    --primary-color: #ADE1E5;
    --secondary-color: #79C7C5;
    --accent1-color: #99D19C;
    --accent2-color: #73AB84;
    --accent3-color: #000501;

}

/*************Header*************/

.header-logo {
    display: grid;
    grid-template-columns: 24px auto 44px;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    column-gap: 8px;
    align-items: end;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid var(--accent1-color);

}

.header-logo img {
    display: block;
    width: 100%;
    height: auto;
} 


.header-logo span {
    font-size: 1.2rem;
    color: var(--accent3-color);
}

/**********Hamburg Navigation**********/
.hamburg {
    background-color: none;
    border: none;
    color: var(--accent2-color);
}

.hamburg::after {
    content: "\2630";
}

/***********Navigation*********/
nav {
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: var(--accent1-color);
}

li a:hover {
    color: var(--secondary-color);
}

li {
    list-style: none;
}

/**********Main section************/


.hero {
    position: relative;
    width: 100%;
    height: auto;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.hero h1,
p,
button {
    position: absolute;
    color: #fff;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);


}

.hero h1 {
    top: 10%;
}

.hero p {
    top: 75%;
}

/*********Home Section**************/
.home {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.home h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: var(--accent3-color);
}

.home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px;

}

.home-grid>div {
    position: relative;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    border: 1px solid var(--accent1-color);
    padding-top: 90px;
    border-radius: 6px;

    
    
}

.home-grid h3 {
    position: absolute;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    font-size: 0.8rem;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;




}

/******Members Info********/

#membersContainer {
    display: grid;
    gap: 1rem;
    margin-bottom: 20px;

}

/****Grid View******/
.grid-view {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* List View*/
.list-view {
    display: block;
}

/* Member Card */
.member-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    text-align: center;
}

.member-card img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.list-view .member-card {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/*******Footer********/
footer {
    background-color: var(--secondary-color);
    color: var(--accent3-color);           
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    gap: 2rem;
    font-size: 0.9rem;
    margin-top: 1rem;
}


footer .location {
    line-height: 1.4;
}

footer .logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .logos img {
    width: 40px;
    height: 40px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    display: block;
}

footer .source {
    text-align: right;
    line-height: 1.4;
}

/******Mobile view*******/

@media (max-width: 600px) {
     .header-logo {
        grid-template-columns: 40px 1fr 40px; 
    }

    .header-logo span {
        font-size: 0.9rem; 
    }

    .hamburg {
        font-size: 1.8rem; 
    }



    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.9rem;
    }

    .hero {
        padding: 1.5rem 1rem;
    }
    .card-content {
        grid-template-columns: 1fr;   
    }

    .image-container {
        display: flex;
        justify-content: center;      
    }

    .image-container img {
        width: 120px;
    }                 
    .business-list {
        grid-template-columns: 1fr; 
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1.5rem;
        padding: 1.5rem 1rem;

        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    footer .location,
    footer .source {
        text-align: center;
    }

    footer .logos {
        justify-content: center;
    }

    footer .logos img {
        width: 30px;
        height: 30px;
        padding: 8px; 
    }
}
