
@media (min-width: 768px) {

    /****NAV****/
    .hamburg {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }
/**** Members View ******/
    .grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 20px 0;
}

.member-card {
    background: var(--primary-color);
    color: var(--accent3-color);
    padding: 1.2rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.member-card img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

    /****FOOTER****/
    footer {
        grid-template-columns: 1fr auto 1fr;
        text-align: left;
    }

    footer .source {
        text-align: right;
    }
}