* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    overflow-x: hidden;

}

:root {
    --primary-color: #ADE1E5;
    --secondary-color: #79C7C5;
    --accent1-color: #99D19C;
    --accent2-color: #73AB84;
    --accent3-color: #000501;

}

/*************Header*************/

.header-logo {
    display: grid;
    grid-template-columns: 24px auto 44px;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    column-gap: 8px;
    align-items: end;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid var(--accent1-color);

}

.header-logo img {
    display: block;
    width: 100%;
    height: auto;
} 


.header-logo span {
    font-size: 1.2rem;
    color: var(--accent3-color);
}

/**********Hamburg Navigation**********/
.hamburg {
    border: none;
    color: var(--accent2-color);
}

.hamburg::after {
    content: "\2630";
}

/***********Navigation*********/
nav {
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: var(--accent1-color);
}

li a:hover {
    color: var(--secondary-color);
}

li {
    list-style: none;
}

/********Label*********/


label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

input, select, textarea {
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid var(--accent1-color);
    margin-top: 0.3rem;
    background-color: var(--primary-color);
    color: var(--accent3-color);
}

.membership-cards button {
    background-color: var(--accent2-color);
    color: #000;
    border-radius: 0.5rem;
    padding: 0.1rem;
}

.submit-btn {
    background-color: var(--accent2-color);
    color: #000;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

.membership-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;

}

/****Animation on page load****/
.card {
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 0.8rem;
    animation: slideIn 1.2s ease-in-out;
}

#goldCard {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*****Dialog*****/
dialog {
    border: 1px solid var(--accent1-color);
    border-radius: 0.2rem;
    padding: 1rem;
    width: 90%;
    max-width: 600px;
    background-color: var(--secondary-color);
    color: #000;
}

::backdrop {
    background-color: var(--accent2-color);
    opacity: 0.1;
    
}






/*******Footer********/
footer {
    background-color: var(--secondary-color);
    color: var(--accent3-color);           
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    gap: 2rem;
    font-size: 0.9rem;
    margin-top: 0;
}



footer .location {
    line-height: 1.4;
}

footer .logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .logos img {
    width: 40px;
    height: 40px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    display: block;
}

footer .source {
    text-align: right;
    line-height: 1.4;
}

/* mobile view */
@media (max-width: 600px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    footer .source {
        text-align: center;
    }

    footer .location {
        text-align: center;
    }
}
