@media only screen and (min-width: 768px) {

    /****Navigation****/
    .hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    /* CENTER THE FORM */
    main {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        width: 50%;
        max-width: 600px;
        padding: 2rem;
    }

    main h1 {
        font-size: 2.3rem;
        margin-bottom: 2rem;
    }
}

