* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #fff;
}

:root {
    --primary-color: #FFE3E0;
    --secondary-color: #FBC3BC;
    --accent1-color: #F7A399;
    --accent2-color: #F38375;
    --accent3-color: #EF6351;
}

/*******Logo styling******/
.header-items {
    display: grid;
    grid-template-columns: 24px auto 44px;
    background-color: var(--secondary-color);
    color: #000;
    column-gap: 8px;
    align-items: end;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid var(--accent1-color);

}

.header-items img {
    display: block;
    width: 100%;
    height: auto;
}


.header-items span {
    font-size: 1.2rem;
    color: #000;
}

/********Hamburger******/
.hamburger {
    background-color: none;
    border: none;
    color: #000;
}

.hamburger::after {
    content: "\2630";
}

/***********Navigation*********/
nav {
    display: none;
}

nav.show {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

ul a {
    text-decoration: none;
    color: #000;
}

li a:hover {
    color: var(--secondary-color);
}

li {
    list-style: none;
}

/* ===== HERO ===== */
.hero {
    text-align: center;
    padding: 2rem 1rem;
}

.hero h1 {
    font-size: 1.9rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.hero img {
    width: 100%;
    border-radius: 15px;
    margin: 1.5rem 0;
}

.btn {
    background: var(--secondary-color);
    color: #000;
    padding: 0.8rem 1.5rem;
    display: inline-block;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.btn:hover {
    background: #444;
}

/* ===== FEATURES ===== */
.features {
    display: grid;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.features article {
    background: var(--accent1-color);
    color: #000;
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
}

/* ===== FEATURED ITEM ===== */

.card-grid {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--accent1-color);
    color: #000;
    border-radius: 5px;
}

/******Video Section******/
.video-section iframe {
    margin-left: 5px;
    width: 50%;
    max-width: 300px;
    height: 150px;
}

.video-section h2 {
    margin-left: 5px;
}


/* ===== DIALOG ===== */
dialog {
    border: none;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #000;
    border-radius: 10px;
    max-width: 350px;
}

::backdrop {
    background-color: var(--accent1-color);
    opacity: 0.1;
}

#closeDialog {
    float: right;
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}


/*******Footer********/
footer {
    background-color: var(--secondary-color);
    color: #000;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 2rem;
    font-size: 0.9rem;
    margin-top: 1rem;
}


footer .location {
    line-height: 1.4;
}

footer .logos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

footer .logos img {
    width: 40px;
    height: 40px;
    padding: 10px;
    background: white;
    border-radius: 50%;
    display: block;
}

footer .source {
    text-align: right;
    line-height: 1.4;
}

/*******mobile view*******/
@media only screen and (max-width: 600px) {
    .header-items {
        grid-template-columns: 40px 1fr 40px;
    }

    .header-items span {
        font-size: 0.9rem;
    }

    .hamburger {
        font-size: 1.8rem;
    }


    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1.5rem;
        padding: 1.5rem 1rem;

        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    footer .location,
    footer .source {
        text-align: center;
    }

    footer .logos {
        justify-content: center;
    }

    footer .logos img {
        width: 30px;
        height: 30px;
        padding: 8px;
    }
}