@media only screen and (min-width: 768px) {

    /****Navigation****/
    .hamburger {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    
    .hero {
        padding: 4rem 2rem;
    }

    .hero h1 {
        font-size: 2.8rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .hero img {
        max-width: 850px;
        display: block;
        margin: 2rem auto;
    }


/* Desktop Features */

    .features {
        grid-template-columns: repeat(3, 1fr);
        padding: 3rem 2rem;
        max-width: 1100px;
        margin: auto;
    }

    .features article {
        padding: 2rem;
    }


/* Featured item grid */

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1100px;
        margin: auto;
    }
}
